		*{
            margin:0;
            padding:0;
        }
        
		
		body{
            width:100%;
			background:linear-gradient(white,lightblue,white);
			background-repeat:no-repeat;
			background-size:100%;
			background-attachment:fixed;
			margin:0px;
			overflow-x:hidden;
			
        }
        
		title{
			background-color:blue;
		}
       
		
		
		div.big-size{
			margin:0px auto;
			padding:2px;
			background-image:url("images/header-background.jpg");
			background-attachment:fixed;
			background-repeat:no-repeat;
			background-position:center;
			background-color:powderblue;
			background-size:cover;
			background-clip:border-box;
			height:820px;
			width:100%;
			overflow:hidden;
			
			
		}
		
		
		
		div.span{
			margin:20rem auto;
			
			
			width:20%;
		}
		
		span{
			text-align:center;
			display:block;
			position:relative;
			color:white;
			font-size:1rem;
			animation-name: example;
  			animation-duration: 4s;
  			animation-iteration-count: infinite;
			font-size:2rem;
		}

		@keyframes example {
			0%   {color:aqua; left:0px; top:0px;}
			25%  {color:mediumseagreen; left:200px; top:0px;}
			75%  {color:grey; left:0px; top:0px;}

		}
		
		 .list{
			margin-top:0px;
			width:100%;
			height:50px;
			position:fixed;
			top:0;
			overflow:hidden;
			display:flex;
			justify-content:space-around;
			align-items:center;
			background-color:#113448;
		}
		
		.list h3{
			font-family:"Helvetica";
			font-size:2rem;
			font-weight:bold;
			color:white;
			text-decoration:none;
			margin-right:5rem;
			margin-bottom:0rem;
			margin-top:1rem;
			padding-bottom:10px;
			cursor:pointer;
		}
		
		.list img{
			border-radius:20px;
		}
		
		.list h3:hover{
			color:#16A085 ;
		}
		
		.list ul{
			margin-left:10rem;
		}
		
		.list li{
			display:inline;
			justify-content:;
			float:;
			padding:5px;
			padding-left:10px;
			
		}
		
		.list a{
			padding:10px 16px 10px;
			background-color:;
			text-decoration:none;
			font-family:"Calibri" ,sans-seriff;
			font-size:;
			color:white;
			font-weight:bold;
			
		}
		
		.list a:hover{
			color:#16A085;
		}
		
		.container2{
			margin:10rem 0rem 0rem 0rem;
			padding:0;
			display:flex;
			justify-content:flex-start;
			flex-wrap:wrap-reverse;
			flex-direction:row;
			align-items:center;
			width:100%;
			height:50vh;
			/* border:1px solid black;  */
			
		}
		
		.card1{
			/* border:1px solid blue;  */
			width:30%;
			margin:0rem 8rem;
			box-sizing:border-box;
			padding:0.5em 0em;
		}
		.card1 p{
			font-family:"Calibri" ,sans-serif;
			font-size:2em;
			font-size:2em;
			color:#16A085;
			text-transform:uppercase;
			text-decoration:none;
			font-weight:bold;
			/* border:1px solid blue; */
			padding:0.5em 0em;
		}
		
		.card1 div{
			font-family:"Helvetica" ,sans-serif;
			font-size:1.7rem;
			color:black;
			text-decoration:none;
			/* text-shadow:0px 0px 1px black; */
			text-transform:capitalize;

			
			/* border:1px solid black; */
		}
		
		.card2{
			margin-left:1rem;
			margin-right:5rem;
			/* border:1rem solid transparent; */
			width:30%;
			height:auto;
			box-sizing:border-box;
		}
		
		.card2 img{
			width:120%;
			height:auto;
			transition:all 0.5s;
			
		}
		
		.card2 img:hover{
			width:130%;
			box-shadow:black 20px 20px 30px;
		}
		
		/*.container3{
			padding:0rem 5rem;
			border:1px solid black;
			width:100%;
			height:auto;
		}
		
		.container3-inside{
			margin:0rem 10rem;
			display:flex;
			justify-content:flex-start;
			align-items:center;
			flex-wrap:wrap;
			flex-direction:column;
		}*/
		
		
		
		
		
		section{
			margin-top:12rem;
			margin-bottom:10rem;
			padding-top:4rem;
			background:transparent;
			height:90vh;
			/* border:1px solid cyan; */
			
			
		}
		
		.description{
			/* border:1px solid black; */
			box-sizing:border-box;
			margin:2em 0em 0em;
			height:auto;
		}
		
		.description h2{
			font-size:2em;
		}
		
		.description p{
			font-family:"Calibri",sans-serif;
			font-weight:bold;
			color:white;
			text-decoration:none;
			text-shadow:0px 0px 20px black;
			text-align:center;
			font-size:2.5em;
			margin:0.5em 0em 0em;
		}
		
		.container{
			margin:0rem;
			display:flex;
			justify-content:space-around;
			height:500px;
			align-items:center;
			/* border:1px solid black; */
			margin-bottom:5rem;
			
		}
		
		div.card{
			display:block;
			margin:2rem;
			width:300px;
			height:auto;
			/* border:1px solid #16A085; */
			border-radius:10px;
			padding:5px;
			opacity:0.8;
			transition: all 0.2s;
			background-color:white;
		}
		
		div.card:hover{
			box-shadow:0px 10px 0px #16A085,0px 0px 30px #16A085;
			border:1px soild white;
			opacity:1;
		}
		
		.card  p{
			font-family:"Times",sans-serif;
			font-size:1rem;
			padding-left:0.5rem;
			padding-right:0.5rem;
			text-align:center;
			margin-top:0.5rem;
		}
		
		.card li{
			font-family:Calibri;
			font-weight:bold;
			text-align:center;
			margin-top:5em;
		}
		
		.card a{
			text-decoration:none;
			color:white;
			padding:8px 16px;
			margin:1em auto;
			position:relative;
			left:7.5em;
			top:1em;
			background-color:#16A085;
			font-family:Helvetica;
			font-weight:bold;
			font-size:14px;
			text-align:center;
			border-radius:0px;
			text-transform:uppercase;
		}
		
		.card a:hover{
			background-color:white;
			border:1px solid #16A085;
			color:darkgreen;
		}
		
		.card img{
			width:100%;
			height:auto;
			border-top-left-radius:10px;
			border-top-right-radius:10px;
			
		}
		
		.theory{
			width:auto;
			height:400px;
			margin:10rem 6rem 20rem;
			padding:20px;
			display:flex;
			justify-content:space-between;
			align-items:center;
		}
		
		.theory img{
			width:30%;
			height:auto;
			padding:10px;
			transition: all 0.2s;
		}
		
		.theory img:hover{
			width:%;
			
		}
		
		.theory p{
			font-family:cursive;
			font-size:1rem;
			color:black;
			text-align:;
			text-decoration:none;
			padding:5px;
			border-left-style:solid;
			border-width:0.5em;
			border-color:
		}
		
		.theory p::first-letter{
			font-size:3rem;
			font-family:Calibri;
		}
		
		.form{
			margin:4rem 0rem 4rem 0rem;
			padding:0rem;
			display:flex;
			justify-content:flex-start;
			align-items:center;
			/* border:1px solid black; */
			width:100%;
			height:100vh;
			overflow:hidden;
		}
		
		
		
		.header{
			margin:0rem 2rem 12rem 10rem ;
			padding:1rem;
			/* border:1px solid black; */
			width:30%;
			text-align:left;	
		}
		
		.header p{
			font-size:1.5rem;
			font-family:Helvetica;
			color:white;
			text-shadow:1px 1px 10px violet,1px 1px 10px black;
			font-weight:bold;
			margin:1px auto;
			/* border:1px solid blue; */
			text-align:center;
		}
		
		.header h2{
			font-size:2.7rem;
			font-family:"Calibri" , sans;
			text-shadow:0px 0px 10px black,0px 0px 10px blue;
			font-weight:bold;
			color:white;
			/* border:1px solid red; */
			
		}
		
		#div{
			/* border:1px solid black;  */
			width:80%;
			height:auto;
			position:relative;
			top:3.5em;
			left:5em;
			padding:2px 0px;
		}
		
		#div div{
			width:15%;
			/* border:1px solid blue; */
			height:auto;
			padding:1px;
			position:relative;
			left:;
			margin:2px auto;
		}
		
		#div img{
			width:100%;
			height:auto;
		}
		
		#div p{ 
			
			font-family:"Calibri" , sans-seriff;
			font-size:1.3rem;
			font-weight:bold;
			color:#16A085;
			display:inline;
			
		}
		
	
		form{
			margin:2rem 2rem 2rem 2rem;
			padding:1rem;
			width:100%;
			
		}
		
		.input-fields{
			width:80%;
			font-family:calibri;
			border:1px solid grey;
			font-size:1rem;
			text-align:left;
			color:black;
			margin:1rem;
			padding:1rem;
			transition:all 0.2s;
			outline:1px solid white;
		}
		
		.input-fields:hover {
			outline:2px solid grey;
		}
		
		form  input[placeholder]
		{
			color:purple;
		}
		
		.button{
			margin:1rem;
			padding:12px 14px;
			background-color:#16A085;
			border:2px solid #16A085;
			width:87%;
			color:white;
			text-transform:uppercase;
			font-weight:bold;
			font-size:1.2rem;
			font-family:Calibri;
			transition:all 0.2s;
		}
		
		.button:hover{
			background-color:white;
			color:#16A085;
			cursor:pointer;
		}
		
		.bg-img1{
			margin:10rem 0rem 2rem 0rem;
			opacity:1;
			width:100%;
			height:50rem;
			background-image:url("images/switzerland.jpg");
			background-attachment:fixed;
			background-repeat:no-repeat;
			background-size:cover;
			box-shadow:0px 0px 20px black;
			overflow:hidden;
		}
		
		.paragraph{
			
			height:30rem;
			width:50%;
			margin:0rem auto;
			padding:2rem;
			text-align:justify;
			box-sizing:border-box;
			background-color:transparent;
			
		}
		
		.paragraph p{
			margin-top:20rem;
			margin-left:auto;
			margin-right:auto;
			color:white;
			font-family:cursive;
			font-size:1rem;
			font-weight:400;
		}
		
		.bg-img2{
			margin:5rem 0rem 2rem 0rem;
			opacity:1;
			width:100%;
			height:50rem;
			background-image:url("images/hiking.jpg");
			background-attachment:fixed;
			background-repeat:no-repeat;
			background-size:cover;
			overflow:hidden;
			/*border:1px solid red;*/
			display:flex;
			justify-content:center;
			align-items:flex-start;
			box-shadow:0px 0px 20px black;
		
		}
		
		.bg-img2 div{
			/* border:1px solid black; */
			/* box-sizing:border-box; */	
			margin:20rem 5rem 0rem;
			font-family:cursive;
			font-size:1.5rem;
			text-align:justify;
			color:white;
			font-weight:400;
			text-decoration:none;
			
		}
		
		.bg-img2{
			
			
		}
		
		h2{
			text-align:center;
			margin:0rem auto;
			font-family:"Calibri" , serif;
			color:#16A085;
			font-weight:bold;
		}
		
		.credits{
			margin:1rem auto;
			width:60rem;
			height:20rem;
			
			display:flex;
			justify-content:space-around;
			align-items:center;
			flex-wrap:wrap;
			flex-direction:row;
			
			padding:0rem;
			overflow:hidden;
			
			
		}
		
		.cards-details{
			/* display:inline-block; */
			padding:0rem;
			width:30%;
			height:auto;
			text-align:center;
			border-radius:10px;
			font-family:"Calibri" ,serif;
			font-size:1.2rem;
			font-weight:bold;
			text-transform:capitalize;
			color:white;
			text-shadow:0px 0px 10px blue,0px 0px 10px black;
		}
		
		.cards-details img{ 
			border-radius:10px;
			transition:all 0.2s;
			
		}
		
		.cards-details img:hover{
			box-shadow:0px 0px 20px slateblue;
			width:65%;
		}
		
		
		.footer-space{
			width:100%;
			height:18rem;
			margin:5rem 0rem 0rem 0rem;
			padding:0rem;
			background:#113448;
			color:white;
			display:flex;
			flex-direction:row;
			justify-content:space-evenly;
			align-items:center;
			
			/* border:1px solid black; */
		}
		
		
		
		.destinations{
			
			display:inline-block;
			padding:0rem 2rem;
			width:auto;
			margin:2rem;
			/* border:1px solid white; */
		}
		
		.destinations ul{
			list-style-type:square;
			
		}
		
		.destinations h2{ 
			text-align:center;
		}
		
		.destinations li{
			font-family:"Calibri",sans-serif;
			display:;
			padding:0.5rem;
			position:relative;
			left:2em;
			transition:all 1s;
		}
		
		.destinations li:hover{
			text-decoration:underline white;
		}
		
		.last{
			width:auto;
			float:right;
			display:inline-block;
			text-align:center;
			color:white;
			font-family:"Calibri",sans-serif;
			margin:1rem;
			padding:1rem;
		}
		
		.last i{
			font-size:1rem;
			position:relative;
			top:2px;
			right:1px;
		}
		
		::-webkit-scrollbar {
			width: 10px;
		}

		/* Track */
		::-webkit-scrollbar-track {
			box-shadow: inset 0 0 5px grey;
			border-radius:0px;
		}

		/* Handle */
		::-webkit-scrollbar-thumb {
			background:#113448;
			border-radius: 0px;
		}
		
		
